* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

header {
    background-color: rgb(246, 190, 0);
    width: 100vw;
    height: 10vh;
    position: fixed;
    color: white;
    padding: 1rem;
    text-align: left;
}

#img-banner {
    width: 100vw;
    height: 20%;
}

footer {
    background-color: rgb(177, 162, 162);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 1.5rem;
}